.table-contain {
    margin: 0 -10px;
    padding-top: 32px;
    height: 100%;
}
.table-scroll {
    height: 100%;
    overflow: auto;
    overflow-y: auto;
}
table {
    width: 100%;
}
.control {
    width: 50px;
    text-align: center;
    padding:0 5px;
}
.table-button {
    padding: 4px;
    background: none;
    border: none;
    border-radius: 50px;
}
.table-button:focus {
    outline:none;
}
th:first-child, td:first-child {
    padding-left: 15px;
}